.ruigehond010.choose-category {
    display: none; /* until proven otherwise (by javascript) */
}

.ruigehond010.faq.posts {
    margin-left: 0;
}
.ruigehond010.faq.posts li {
    list-style-type: none;
}

.ruigehond010.faq.posts .ruigehond010_post {
    display: none; /* by default to prevent flickering, will be set correctly by javascript */
    height: auto;
}
.ruigehond010.faq.posts .ruigehond010_post .faq-header {
    margin-bottom: 0;
    color: currentColor;
}
.ruigehond010.faq.posts .ruigehond010_post .faq-header+div {
    height: auto;
    max-height: 0;
    overflow: hidden;
    /*transition: max-height .21s ease-in-out;*/
}

.ruigehond010.faq.posts .ruigehond010_post:not(.open) .faq-header {
    cursor: pointer;
}

.ruigehond010.test { /* element used to determine max height in the carousel */
    display: block;
    visibility: hidden;
}

.ruigehond010.faq.posts .ruigehond010_post .faq-header:before {
    content: '▼';
    color: currentColor;
    float: right;
    transition: all .4s;
}

.ruigehond010.faq.posts .ruigehond010_post.open .faq-header:before {
    transform: rotate(90deg);
}

.ruigehond010.more {
    margin-top: 2em;
    display: none;
}