.ruigehond010.choose-category {
    display: none; /* until proven otherwise (by javascript) */
}

#ruigehond010_faq {
    margin-left: 0;
}
#ruigehond010_faq li {
    list-style-type: none;
}

#ruigehond010_faq .ruigehond010_post {
    display: none; /* by default to prevent flickering, will be set correctly by javascript */
    height: auto;
}
#ruigehond010_faq .ruigehond010_post h4 {
    margin-bottom: 0;
}
#ruigehond010_faq .ruigehond010_post h4+div {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height .6s ease-in-out;
}

#ruigehond010_faq .ruigehond010_post.open h4+div {
    height: auto;
    max-height: 300px;
}

#ruigehond010_faq .ruigehond010_post:not(.open) h4 {
    cursor: pointer;
}

#ruigehond010_faq .ruigehond010_post h4:before {
    content: '⯆';
    float: right;
    transition: all .4s;
}

#ruigehond010_faq .ruigehond010_post.open h4:before {
    transform: rotate(90deg);
}

#ruigehond010_faq .ruigehond010_post .h4 {
    font-size: 125%;
    color: #333;
}
#ruigehond010_more {
    margin-top: 2em;
    display: none;
}